DEBUG=TRUE
HOST=http://127.0.0.1:8000

DB_URL=postgresql://lobzikai:lobzikai@127.0.0.1:5432/lobzikai
AMQP_URL=amqp://guest:guest@127.0.0.1:5672/

OPENAI_API_KEY=secret
OPENAI_BASE_URL=https://polza.ai/api/v1
LANGSMITH_API_KEY=secret
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=LobzikAI
BOT_TOKEN=secret
JWT_SECRET=secret

TELEGRAM_BOT_API_SERVER=may_be_null
USE_LOCAL_ASR=TRUE
USE_GPU=TRUE

NUM_ASR_WORKERS=8
CHUNK_OVERLAPPING=2.0

MODEL_CACHE_DIR=./cache
ASR_MODEL=whisper-large-v3
SUMMARIZATION_MODEL=gpt-5-mini
BASE_GPT_MODEL=gpt-4o-mini
MM_MODEL=gemini-2.5-flash
LOCAL_ASR_VOSK_MODEL=vosk-model-ru-0.22

S3_ENDPOINT=secret
S3_BUCKET=secret
S3_SSL=TRUE
S3_ACCESS_KEY=secret
S3_SECRET_KEY=secret
